body {
    margin: 0 10%;
    background-color: #fbfbf2;
}

h1, h2 {
    font-family: "Encode Sans Semi Expanded", sans-serif;
    color: #14213d;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    display: block;
}

p {
    display: block;
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
    font-size: 18px;
}

.color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 10px auto;
    min-height: 100px;
}

.black {
    background-color: black;
    color: white;
}

.oxford-blue {
    background-color: #14213d;
    color: white;
}

.orange-web {
    background-color: #fca311;
    color: #14213d;
}